:root{
  --posX: ;
  --posY: ;
  --disable: ;
  --enable: hidden;
}

body{
    margin: 0px;
    background-image: url('Bilder/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin:0;
}
form{
    margin:0;
}

.center{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headline{
    text-align: center;
    font-size:10vw;
    font-weight: bolder;
    padding: 7vh 0;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}


.table{
    width: 80vw;
    display: table;
    margin: 0px 10vw;
    border-spacing: 20vw 7vh;
    position: relative; 
}
.row{
    display: table-row;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.zelle{
    display: table-cell;
    visibility: var(--disable);
}

.daumenhoch{
  visibility: var(--enable);
}

#random{
  position: relative;
  top:var(--posX);
  left:var(--posY);
}

/* CSS */
input[type=button]{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  overflow: visible;
  padding: 0px 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

input[type=button]:hover {
  background: #F6F9FE;
  color: #174ea6;
}

input[type=button]:active {
  box-shadow: 0 10px 10px 0 rgb(60 64 67 / 30%), 0 20px 24px 20px rgb(60 64 67 / 15%);
  outline: none;
}

input[type=button]:focus {
  outline: none;
  border: 2px solid #4285f4;
}

input[type=button]:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

input[type=button]:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

input[type=button]:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

input[type=button]:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

input[type=button]:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

@media screen and (min-width: 1000px) {
  .headline{
    font-size:3vw;
  }
}
